@import "primeicons/primeicons.css";
@import "primeflex/primeflex.scss";

.p-treenode-content {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

.p-accordion-content {
    padding: 1rem;
}

.p-submenu-list {
    .p-menuitem {
        width: 100% !important;
    }
}

@media screen and (max-width: 960px) {
    .p-menubar {
        position: unset;

        .p-menubar-root-list {
            position: unset;
            display: unset;
            padding: unset;
            background: unset;
            box-shadow: unset;
            border: unset;
            width: unset;

            .p-submenu-icon {
                font-size: 1rem;
                transition: unset;
                transform: unset;
            }

            .p-submenu-icon.p-icon {
                width: 1rem;
                height: 1rem;
            }

            .p-submenu-list {
                width: unset;
                position: absolute;
                box-shadow: unset;
                border: unset;
                box-shadow:
                    0 2px 4px -1px rgba(0, 0, 0, 0.2),
                    0 4px 5px 0 rgba(0, 0, 0, 0.14),
                    0 1px 10px 0 rgba(0, 0, 0, 0.12);
                width: 12.5rem;
            }

            .p-menuitem {
                width: unset;
                position: unset;
            }
        }
    }
}
